--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.9.0+cpu

langchain-core
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-google-genai
sentence-transformers
pyyaml
python-dotenv
google-genai
pytest
Flask
gunicorn
